* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

:root {
  --background: #EBF2FA;
  --navy:#1E2749;
  --med-blue:#457B9D;
  --lght_blue:#A8DADC;
  --camel: #af9164;

--default-1: 'Comfortaa', cursive;
--default-2: 'Prompt', sans-serif;
--header-font: 'Philosopher', sans-serif;

}
.tdn {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

h1 {
  display: inline;
  position: relative;
  font: 12rem var(--header-font);
  letter-spacing: -5px;
  color:var(--lght_blue); 
}
  
h1:after {
  content: "MedTrax";
  position: absolute; left: 10px; top: 5px;
  color:var(--navy);   
}

.login {
  text-decoration: none;
  font-family: var(--default-2);
  color: var(--navy);
  font-size: 1.5rem;
}

.login a:visited {
  color: var(--navy);
}

.login a:hover {
  color: var(--med-blue);
  font-size: 1.8rem; 
}

.login-form {
  font-family: var(--default-2);
  color: var(--navy);
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: space-evenly; 
}

.form_styles p, h2 {
  font-family: var(--default-2);
  color: var(--navy);
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
}

.form_styles li, span{
  font-family: var(--default-2);
  color: var(--navy);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}

.signup-title{
   /* width: 720px; */
   font-family: var(--default-2);
   color: var(--navy);
   font-size: 2.4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   justify-content: space-evenly;
   margin-bottom: 3rem;
   /* margin-left: 200px; */
}

.button {
  font-family: var(--default-2);
  color: var(--navy);
  background-color: var(--lght_blue);
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: 12px;
  align-items: center; 
  margin: 0 2rem;
}

.center {
  text-align: center;
}

input, select{
  border-radius: 12px;
  background-color: white;
  min-width: 10rem;
  min-height: 2.5rem;
  margin: 1rem;
  font-size: 2rem;
}

.bottom-margin {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.username {
  margin-top: 2.5rem;
}

.reg-links {
  margin-bottom: 4rem;
}

.reg-links a {
  text-decoration: none;
  color: var(--navy);
}

.reg-links a:visited {
  color: var(--med-blue);
}

.reg-links a:hover {
  font-weight: bolder;
}

.meds-cont {
  margin: 2rem;
  font-family: var(--default-2);
  font-size: 2rem;
  color: var(--navy);
}

.meds {
  /* width: 70%; */
  /* height: 10rem; */
  border: var(--camel) solid 5px;
  border-radius: 12px;
  margin: 1.5rem;


}

.top-margin {
  margin-top: 3rem;
}