* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

:root {
  --background: #EBF2FA;
  --navy:#1E2749;
  --med-blue:#457B9D;
  --lght_blue:#A8DADC;
  --camel: #af9164;

--default-1: 'Comfortaa', cursive;
--default-2: 'Prompt', sans-serif;
--header-font: 'Philosopher', sans-serif;

}

.header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

h1 {
  display: inline;
  position: relative;
  font: 12rem var(--header-font);
  letter-spacing: -5px;
  color:var(--lght_blue); 
}
  
h1:after {
  content: "MedTrax";
  position: absolute; left: 10px; top: 5px;
  color:var(--navy);   
}

.login {
  text-decoration: none;
  font-family: var(--default-2);
  color: var(--navy);
  font-size: 1.5rem;
}

.login a:visited {
  color: var(--navy);
}

.login a:hover {
  color: var(--med-blue);
  font-size: 1.8rem; 
}
