{% extends 'base.html' %}


{% block content %}
{% csrf_token %}
HI KAT AND BRANDON! 2

<form method="post" action="{% url 'registration/login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>

  <input type="submit" value="Login" class="button-padding">
  <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}