{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="center top-margin">
    <a class="button tdn" href="{% url 'new_med' %}">New medication</a>
</div>
<br>
<div class="meds-cont center">
    {% for med in meds %}
    <div class="meds">
        Medication Name: {{med.medication}}
        <br>
        To be administered every {{med.increments}} {{med.unit}}
        <br>
        Number per dose: {{med.quantity}}
        <br>
        <p id='date'>Start date: {{med.start_date}}</p>
        <p id='time'>Start time: {{med.start_time}}</p>
        <a class="button tdn" href="{% url 'edit_med' pk=med.pk %}">Edit Medication</a>
        <a class="button tdn" href="{% url 'delete_med' pk=med.pk %}">Delete Medication</a>

    </div>
    {% endfor %}
</div>

{% endblock %}